* {
  margin: 0;
  font-family: "Quicksand";
  color: #3f4559;
  background-color:#f6fafd;

}

/*Navbar*/
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
    background-color:#e5e4e2;
}
.navbar .links{
    margin-left: auto;
    font-size: small;
    background-color: #e5e4e2;
    
}
h1{
  background-color: #e5e4e2;
  color: #323434;
}
.navbar a{
    margin-left:16px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2fdf8;
    color: #323434;
    font-size: medium;
    border-radius: 10px;
}
.navbar a:hover{
    color:#08da8a;
}



/*SignIn & Register*/
.navbar-container{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  
}

.navbar-register h2{
  font-size: 20px;
  color: #323434;
  margin-bottom: 30px;
  background-image: image();
}

.navbar-container label{
  text-align: left;
  display: block;
}

.navbar-container input, .navbar-container textarea, .navbar-container select{
  width: 100%;
  padding: 6px 10 px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.navbar-container button{
background: #08da8a;
color: #f2fdf8;
border-radius: 8px;
cursor: pointer;
}

/*SignOut*/