* {
  margin: 0;
  font-family: "Quicksand";
  color: #3f4559;
  background-color:#f6fafd;

}

/*Navbar*/
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
    background-color:#e5e4e2;
}
.navbar .links{
    margin-left: auto;
    font-size: small;
    background-color: #e5e4e2;
    
}
h1{
  background-color: #e5e4e2;
  color: #323434;
}
.navbar a{
    margin-left:16px;
    text-decoration: none;
    padding: 6px;
    background-color: #e5e4e2;
    color: #323434;
    font-size: medium;
}
.navbar a:hover{
    color:#08da8a;
}


/*Register*/
/*SignIn*/
/*SignOut*/

